div#body {
  .page-head {
    background: #e7f3fa;
  }

  .content {
    &.page-container {
      background: #e7f3fa;
    }
  }
}

body {
  background: #e7f3fa;
}

div[data-page-route="Workspaces"] {
  .widget {
    &.number-widget-box {
      border: 1px solid #8e51ff;
    }
  }
}

.desk-sidebar {
  .standard-sidebar-item {
    &:hover {
      background: #bbf0e7;
    }

    &.selected {
      &>a {
        background: #4fb6a4;
        --icon-stroke: white;
        color: white;
      }
    }
  }
}

.widget {
  &.dashboard-widget-box {
    border-color: #8e51ff;
  }
}

.btn {
  &.btn-primary {
    background: #4fb6a4;
  }

  // &.btn-default {
  //   background: white;
  // }
}
